@model HopePipeline.Models.ForgotAccount;
@{
    ViewData["Title"] = "GenerateReports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        input[type=text], input[type=email] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .submit {
            background-color: #09335e;
            color: white;
            padding: 10px 18px;
            width: auto;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            color: white;
            background-color: #f44336;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3> Forgot Password</h3>
        <p> </p>
        <p> </p>
        <form asp-controller="Account" asp-action="SendForgotPassEmail" method="post">
            <p> </p>
            <label for="email"> <b> Email</b> </label>
            <p> </p>
            <input type="text" placeholder="Enter Email" name="email" asp-for="email" required>
            <p></p>
            <button type="button" name="cancel" onclick="javascript:history.back().style.display='none'" class="cancelbtn" OnClientClick="JavaScript:window.history.back(1);return false;"> Cancel </button>
            &nbsp;&nbsp;
            <button type="submit" class="submit">Submit</button>
            <p> </p>
        </form>
    </div>
</body>
</html>
