
@{
    ViewData["Title"] = "StartIntake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Center for Children's Rights Tracking Form</h2>


<form  method="post">
    <div class="form-group">
        <input type="text" name="Name" class="form-control" />
    </div>
</form>
<p>
    
    <div>

        Center for Children's Rights Information
        <br />
        <br />

        Level of Service Provided <br />
        <input type="radio" name="none" value="n">None<br />
        <input type="radio" name="infoEdu" value="info" />Information/Education<br />
        <input type="radio" name="serviceAdvice" value="service">Brief Service/Advice<br />
        <input type="radio" name="full" value="full" />Full<br />
        <br />
        <br />


        Referral Date <br>
        <input type="date" name="dob">
        <br>
        <br>

        Intake Date <br>
        <input type="date" name="dob">
        <br>
        <br>

        Reason for Nonengagement <br />
        <input type="radio" name="contact" value="n">Unable to Contact<br />
        <input type="radio" name="intake" value="info" />Unable to Complete Intake<br />
        <input type="radio" name="declined" value="service">Family Declined Services<br />
        <br />
        <br />

        Case open/close status <br />
        Level of Service Provided <br />
        <input type="radio" name="Open" value="o">Open<br />
        <input type="radio" name="closed" value="c" />Closed<br />
        <input type="radio" name="nonEngageClose" value="nec">Closed due to nonengagement<br />
        <br />
        <br />

        <a asp-controller="Tracking" asp-action="disciplineTracking">Next</a>

    </div>



