
@{
    ViewData["Title"] = "StartIntake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Center for Children's Rights Tracking Form</h2>


<form asp-controller="Tracking" asp-action="SubmitTracking" method="post">
   
    <div class="form-group">
      
        <input type="text" name="Name" class="form-control" />
    </div>
</form>
<p>
    <div>
        Demographic Information <br>
        <br>

        ClientID <br />
        <input type="text" name="ClientID" value="wg4237"> <!-- this will be randomly generated in the SQL database, pusedocode is on client.cs-->
        <br />

        Name <br />
        <input type="text" name="Name" value="John Smith">
        <br />
        <br>

        Caregiver <br>
        <input type="radio" name="caregender" value="Mother"> Mother<br>
        <input type="radio" name="caregender" value="Father"> Father<br>
        <input type="radio" name="caregender" value="mGrandma">Maternal Grandmoter<br>
        <input type="radio" name="caregender" value="mGrandpa">Maternal Grandfather <br>
        <br>
        <br>

        Caregiver Name <br>
        <input type="text" name="careName" value="Barbara Smith"> <br />
        <br>


        Gender Identity <br>
        <input type="radio" name="gender" value="male"> He/Him/His<br>
        <input type="radio" name="gender" value="female"> She/Her/Hers<br>
        <input type="radio" name="gender" value="trans*"> They/Them/Theirs<br />
        <input type="radio" name="gender" value="nonbinaryF"> She/They<br>
        <input type="radio" name="gender" value="nonbinaryM"> He/They<br>
        <input type="radio" name="gender" value="neutral"> Zie/Zir/Zirs<br />
        <br>
        <br>

        Ethnicity <br>
        <select>
            <option value="nhWhite">Non Hispanic White</option>
            <option value="hispanic">Hispanic</option>
            <option value="natAm">Native American</option>
            <option value="jewish">Jewish</option>
            <option value="black">Black</option>
            <option value="multi">Multiple Ethnicities</option>
            <option value="notListed">Ethnicity Not Listed</option>

        </select>
        <br>
        <br>

        Date of Birth <br>
        <input type="date" name="dob">
        <br>
        <br>

        School <br>
        <input type="text" name="school" value="Kernan Trail Elementary">
        <br>
        <br>

        Referral Source <br>
        <input type="text" name="referral" />
        <br />
        <br />

        Failed a Grade <br />
        <input type="radio" name="fail" value="y">Yes<br />
        <input type="radio" name="noFail" value="n" />No <br />
        <br />
        <br />
        If yes, which grade and how many times
        <input type="text" name="failedGrade" />

        Baker Acted <br />
        <input type="radio" name="baker" value="y">Yes<br />
        <input type="radio" name="noBaker" value="n" />No <br />
        <br />
        <br />

        Female-led household? <br />
        <input type="radio" name="femHouse" value="y" checked>Yes<br />
        <input type="radio" name="noFemHouse" value="n" />No <br />
        <br />
        <br />

        Domestic Violence <br />
        <input type="radio" name="domVio" value="y">Yes<br />
        <input type="radio" name="noDomVio" value="n" />No <br />
        <br />
        <br />

        Adopted <br />
        <input type="radio" name="adopted" value="y">Yes<br />
        <input type="radio" name="notAdopted" value="n" />No <br />
        <br />
        <br />

        Evicted
        <input type="radio" name="evicted" value="y">Yes<br />
        <input type="radio" name="notEvicted" value="n" />No <br />
        <br />
        <br />

        Incarcarated Parent <br />
        <input type="radio" name="incarParent" value="y">Yes<br />
        <input type="radio" name="incarParent" value="n" />No <br />
        <br />
        <br />

        Asthma
        <input type="radio" name="asthma" value="y">Yes<br />
        <input type="radio" name="noAsthma" value="n" />No <br />
        <br />
        <br />

    </div>

