
@{
    ViewData["Title"] = "Start Intake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Center for Children's Rights Tracking Form</h2>


<form method="post">
   
    <div class="form-group">
        <input type="text" name="Name" class="form-control" />
    </div>
</form>
<p>


    <div>

        Discipline <br />

        Suspeneded more than 2 (two) times<br />
        <input type="radio" name="adopted" value="y">Yes<br />
        <input type="radio" name="notAdopted" value="n" />No <br />
        <br />
        <br />
        <button type="submit">Submit</button>
    </div>
    

</p>

