


@{
    ViewData["Title"] = "StartIntake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Center for Children's Rights Tracking Form</h2>

<form method="post">
    <div class="form-group">
        <input type="text" name="Name" class="form-control" />
    </div>
</form>

<div>

    School Information <br />
    <br />
    <br />


    Has an IEP/504 Plan<br />
    <input type="radio" name="emo" value="emo">Emotional/Behavioral Disability<br />
    <input type="radio" name="gifted" value="gifted" />Gifted<br />
    <input type="radio" name="intellectual" value="intell">Intellectual Disability<br />
    <input type="radio" name="language" value="lang" />Language Impairment<br />
    <input type="radio" name="otherHealth" value="otherHealth" />Other Health Impairment<br />
    <input type="radio" name="specificLearning" value="specificLearning">Specific Learning Disability<br />
    <input type="radio" name="speech" value="speech" />Speech Impairment<br />
    <input type="radio" name="other" value="other">Other <br />
    <br />
    <br />

    In Pride <br />
    <input type="radio" name="inPride" value="y">Yes<br />
    <input type="radio" name="notInPride" value="n" />No <br />
    <br />
    <br />

    New FBA <br />
    <input type="radio" name="newFBA" value="y">Yes<br />
    <input type="radio" name="noNewFBA" value="n" />No <br />
    <br />
    <br />

    Addititonal Accomodations Gained <br />
    <input type="radio" name="accomGained" value="y">Yes<br />
    <input type="radio" name="noaccomGained" value="n" />No <br />
    <br />
    <br />

    Additional Compensatory Services <br />
    <input type="radio" name="compServices" value="y">Yes<br />
    <input type="radio" name="noCompServices" value="y">No<br />
    <br />
    <br />
    If yes, what services
    <input type="text" name="services" />
    <br />
    <br />

    Bullied <br />
    <input type="radio" name="bullied" value="y">Yes<br />
    <input type="radio" name="notBullied" value="y">No<br />
    <br />
    <br />
    If yes, was it reported
    <input type="radio" name="report" value="y">Yes<br />
    <input type="radio" name="report" value="n">No<br />

    Date of report
    <input type="date" name="dateOfBully" /> <br />

</div>